@model Prodation.MVC.Models.Products
@{ 
	ViewData["Title"] = "Edit Product";
	var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3> @ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
	<div class="alert alert-success">
		<strong>Error!</strong>@errorMessage
		<button type="button" class="btn-close float-end " data-bs-dismiss="alter" aria-label="Close"></button>
	</div>
}
<form action="Edit" method="post" autocomplete="off">
	<div class="mb-3">
		<label class="form-lebel"> Id</label>
		<input type="text" class="form-control" asp-for="Id" readonly />
	</div>
	<div class="mb-3">
		<label class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Prise</label>
		<input type="text" class="form-control" asp-for="Prise" />
		<span asp-validation-for="Prise" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Date Of Issue </label>
		<input type="date" class="form-control" asp-for="DateTime" />
		<span asp-validation-for="DateTime" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Description</label>
		<input type="email" class="form-control" asp-for="Description" />
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Country</label>
		<div class="input-group">
			<span class="input-group-text ">$</span>
			<input type="text" class="form-control" asp-for="Country" />
		</div>
		<span asp-validation-for="Country" class="text-danger"></span>
	</div>
	<div class="d-grid">
		<button type="submit" class=" btn btn-success"> Update</button>

	</div>
</form>
@section scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
